.testimonials {
    .testimonials__container {
        @include container;
        margin-bottom: 12.014vw;

        .testimonials__title-container {
            width: 28.403vw;
            margin-left: 0.903vw;
            margin-right: 8.611vw;

            .testimonials__subtitle {
                @include subtitle;
                margin-bottom: 0.556vw;
            }
            .testimonials__title {
                @include title;
            }
        }
        .testimonials__card {
            width: 35vw;
            height: 17.014vw;
            border-radius: 10px;
            box-shadow: $box-shadow;

            .testimonials__image {
                position: absolute;
                width: 4.722vw;
                transform: translate(-2.778vw, -2.778vw);
            }
            .testimonials__information{
                margin-top: 1.944vw;
                margin-left: 2.361vw;

                .testimonials__text {
                    width: 27.917vw;
                    line-height: 2.222vw;
                    margin-bottom: 2.361vw;
                }
                .testimonials__name {
                    font-weight: 600;
                    font-size: 1.25vw;
                    line-height: 1.875vw;
                    margin-bottom: 0.347vw;
                }
                .testimonials__location {
                    font-size: 0.972vw;
                    line-height: 1.458vw;
                }
            }
        }  
    }
}

@media (max-width: $max-width){
    .testimonials {
        .testimonials__container {
            flex-direction: column;
            align-items: center;
            max-width: 100%;
            margin-bottom: 17.874vw;

            .testimonials__title-container {
                width: 69.324vw;
                margin: 15.217vw 14.251vw 30.918vw 16.184vw;
                text-align: center;

                .testimonials__subtitle {
                    @include subtitle-mobile;
                    margin-bottom: 6.522vw;
                }
                .testimonials__title {
                    @include title-mobile;
                }
            }
            .testimonials__card {
                width: 86.715vw;
                height: 56.522vw;

                .testimonials__image {
                    width: 16.425vw;
                    transform: translate(35.266vw, -12vw);
                }
                .testimonials__information{
                    margin-top: 5.072vw;
                    margin-left: 2.174vw;

                    .testimonials__text {
                        font-size: 3.865vw;
                        width: 85.266vw;
                        line-height: 7.729vw;
                        margin-bottom: 4.831vw;
                    }
                    .testimonials__name {
                        font-size: 4.348vw;
                        line-height: 6.522vw;
                        text-align: center;
                    }
                    .testimonials__location {
                        font-size: 3.382vw;
                        line-height: 5.072vw;
                        text-align: center;
                    }
                }
            }
        }
    }
}